html,body
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #222;
}
* {
	padding: 0;
	margin: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.sphere {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	-webkit-radius: 50px;
	background: rgb(222,239,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 100;
}

.square {
	position: absolute;
	width: 50px;
	height: 50px;
	background: rgb(176,212,227); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(176,212,227,1)), color-stop(100%,rgba(136,186,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=1 ); /* IE6-9 */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 100;
}
.accelero-debug-wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: #666;
	padding: 10px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container
{
	width: 300px;
	height: 300px;
	border: 1px solid #555;
	margin: 0 auto;
	margin-top: 20%;
	position: relative;
}
